body {
    margin: 0;
    font-family: 'Iowan Old Style', serif;
    background-color: #f4f4f9;
    color: #333;
  }
  
  h1 {
    text-align: center;
    margin: 20px 0;
  }
  
  .App {
    display: flex;
    align-items: center;
    padding: 20px 40px;
  }
  